body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.btnBackmainpg {
  color: rgb(0, 0, 0);
  background: #f6080830;
  cursor: pointer;
}

.card {
  width: 420px;
  background: white;
  border: 2px solid #000000;
  border-radius: 16px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0, 191, 255, 0.35);
}

.card-tittle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 12px;
  color: #000000;
}

#user-list {
  background: #fafafa;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 12px;
  min-height: 90px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000000;
}

#btnAdminuser {
  border-radius: 10px;
  font-weight: bold;
}


#btnBackmainpg {
  background-color: red;
  color: white;
}

.editarBtn {
  color: rgb(0, 0, 0);
  background: #08f2f630;
  cursor: pointer;
}

.eliminarBtn {
  color: rgb(0, 0, 0);
  background: #f6080830;
  cursor: pointer;
}

